<template>
    <h1>Products Ticket</h1>
</template>

<script>
export default {
  name: 'Product',
  props: {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
