<template>
    <h1>Cliente List</h1>
</template>

<script>
export default {
  name: 'ClienteList',
  props: { },
  data: function () {
    return { }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
