<template>
    <h1>Motorista List</h1>
</template>

<script>
export default {
  name: 'MotoristaList',
  props: {},
  data: function () {
    return {}
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
