<template>
  <router-view/>
</template>

<script>
export default {
  name: 'Container',
  components: {},
  props: {},
  data: function () {
    return { msj: 'hello word!' }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
