<template>
    <h1>Menu</h1>
</template>

<script>
export default {
  name: 'Menu',
  props: {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
