<template>
    <b-col md="3" class="d-flex align-items-start flex-column px-0">
        <b-row class="border m-0 w-100">
          <b-col>
            <Data/>
          </b-col>
        </b-row>
        <b-row class="border m-0 w-100">
          <b-col>
            <Product/>
          </b-col>
        </b-row>
        <b-row class="border m-0 w-100 mt-auto">
          <b-col>
            <Total/>
          </b-col>
        </b-row>
    </b-col>
</template>

<script>
import Data from './ticket/Data'
import Product from './ticket/Product'
import Total from './ticket/Total'

export default {
  components: {
    Data,
    Product,
    Total
  },
  name: 'app'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
