<template>
  <b-navbar toggleable="lg" type="dark" variant="info">
    <b-navbar-brand href="#">
      <img :src="logo" class="img-fluid" style="max-width: 50px;" alt="Kitten" v-if="logo!=null && logo!='' && logo!=undefined">
      {{ empresa }}
    </b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item to="/clientes">Clientes</b-nav-item>
        <b-nav-item to="/motoristas">Motoristas</b-nav-item>
        <b-nav-item to="/mesas">Mesas</b-nav-item>
        <b-nav-item to="/produtos">Productos</b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <!--<b-nav-form>
          <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
          <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
        </b-nav-form>-->

        <!--<b-nav-item-dropdown text="Lang" right>
          <b-dropdown-item href="#">EN</b-dropdown-item>
          <b-dropdown-item href="#">ES</b-dropdown-item>
          <b-dropdown-item href="#">RU</b-dropdown-item>
          <b-dropdown-item href="#">FA</b-dropdown-item>
        </b-nav-item-dropdown>-->

        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template v-slot:button-content>
            <em>{{ usuario }}</em>
          </template>
          <!--<b-dropdown-item href="#">Profile</b-dropdown-item>
          <b-dropdown-item href="#">Sign Out</b-dropdown-item>-->
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
// import { mapState } from 'vuex'

export default {
  name: 'Top',
  props: {},
  computed: {
    empresa () {
      return this.$store.state.usuario.empresa
    },
    usuario () {
      return this.$store.state.usuario.nome
    },
    logo () {
      return this.$store.state.usuario.logo
    }
  },
  // computed: mapState([
  //   'usuario/nome',
  //   'usuario/empresa',
  //   'usuario/logo'
  // ]),
  methods: {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
