<template>
  <div id="app">
      <b-container fluid class="kcontainer pr-0 overflow-hidden">
          <b-row class="krow">
              <Ticket/>
              <b-col md="9" class="border d-flex align-items-start flex-column pr-0">
                  <b-row class="border w-100">
                    <b-col class="px-0">
                      <Top @change-menu="changeMenu"/>
                    </b-col>
                  </b-row>
                  <b-row class="border w-100">
                    <b-col class="px-0">
                      <Container :mode="mode"/>
                    </b-col>
                  </b-row>
                  <b-row class="border w-100 mt-auto">
                    <b-col class="px-0">
                      <Footer/>
                    </b-col>
                  </b-row>
              </b-col>
          </b-row>
      </b-container>
  </div>
</template>

<script>
import Top from './components/Top'
import Footer from './components/Footer'
import Container from './components/Container'
import Ticket from './components/Ticket'

export default {
  name: 'app',
  components: {
    Top,
    Footer,
    Container,
    Ticket
  },
  data: function () {
    return {
      mode: 1
    }
  },
  methods: {
    changeMenu: function (payload) {
      this.mode = payload
    }
  }
}
</script>

<style lang="stylus">
@import 'assets/css/main.styl'

#app
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: #2c3e50
  display: fixed
  height: 100%

</style>
